
SQLTask/SQLTask/SQLTask.sln
SQLTask/SQLTask/SQLTask.csproj
SQLTask/SQLTask/Properties/Settings.settings
SQLTask/SQLTask/Properties/Settings.Designer.cs
SQLTask/SQLTask/Properties/Resources.resx
SQLTask/SQLTask/Properties/Resources.Designer.cs
SQLTask/SQLTask/Properties/AssemblyInfo.cs
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/version.txt
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/useSharedDesignerContext.txt
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/THIRD-PARTY-NOTICES.TXT
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/System.Security.Principal.Windows.4.5.0.nupkg
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/runtimes/win/lib/uap10.0.16299/_._
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/runtimes/win/lib/netstandard1.3/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/runtimes/win/lib/netcoreapp2.0/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/runtimes/win/lib/net461/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/runtimes/win/lib/net46/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/runtimes/unix/lib/netcoreapp2.0/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/uap10.0.16299/_._
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard2.0/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard2.0/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/zh-hant/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/zh-hans/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/ru/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/ko/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/ja/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/it/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/fr/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/es/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/netstandard1.3/de/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/net461/System.Security.Principal.Windows.xml
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/net461/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/ref/net46/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/LICENSE.TXT
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/lib/uap10.0.16299/_._
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/lib/netstandard2.0/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/lib/netstandard1.3/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/lib/net461/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/lib/net46/System.Security.Principal.Windows.dll
SQLTask/SQLTask/packages/System.Security.Principal.Windows.4.5.0/.signature.p7s
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/version.txt
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/useSharedDesignerContext.txt
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/THIRD-PARTY-NOTICES.TXT
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/System.Security.AccessControl.4.5.0.nupkg
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/runtimes/win/lib/uap10.0.16299/_._
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/runtimes/win/lib/netstandard1.3/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/runtimes/win/lib/net461/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/runtimes/win/lib/net46/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/uap10.0.16299/_._
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard2.0/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard2.0/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/zh-hant/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/zh-hans/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/ru/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/ko/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/ja/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/it/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/fr/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/es/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/netstandard1.3/de/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/net461/System.Security.AccessControl.xml
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/net461/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/ref/net46/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/LICENSE.TXT
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/lib/uap10.0.16299/_._
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/lib/netstandard2.0/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/lib/netstandard1.3/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/lib/net461/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/lib/net46/System.Security.AccessControl.dll
SQLTask/SQLTask/packages/System.Security.AccessControl.4.5.0/.signature.p7s
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/version.txt
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/useSharedDesignerContext.txt
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/THIRD-PARTY-NOTICES.TXT
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/System.Diagnostics.PerformanceCounter.4.5.0.nupkg
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/ref/xamarinwatchos10/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/ref/xamarintvos10/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/ref/xamarinmac20/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/ref/xamarinios10/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/ref/netstandard2.0/System.Diagnostics.PerformanceCounter.xml
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/ref/netstandard2.0/System.Diagnostics.PerformanceCounter.dll
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/ref/net461/System.Diagnostics.PerformanceCounter.xml
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/ref/net461/System.Diagnostics.PerformanceCounter.dll
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/ref/MonoTouch10/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/ref/MonoAndroid10/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/LICENSE.TXT
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/lib/xamarinwatchos10/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/lib/xamarintvos10/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/lib/xamarinmac20/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/lib/xamarinios10/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/lib/netstandard2.0/System.Diagnostics.PerformanceCounter.dll
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/lib/net461/System.Diagnostics.PerformanceCounter.dll
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/lib/MonoTouch10/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/lib/MonoAndroid10/_._
SQLTask/SQLTask/packages/System.Diagnostics.PerformanceCounter.4.5.0/.signature.p7s
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/version.txt
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/useSharedDesignerContext.txt
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/THIRD-PARTY-NOTICES.TXT
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/runtimes/win/lib/netstandard1.3/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/runtimes/win/lib/net461/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/runtimes/win/lib/net46/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/runtimes/unix/lib/netstandard2.0/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard2.0/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard2.0/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/zh-hant/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/zh-hans/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/ru/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/ko/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/ja/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/it/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/fr/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/es/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/netstandard1.3/de/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/net461/Microsoft.Win32.Registry.xml
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/net461/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/ref/net46/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/Microsoft.Win32.Registry.4.5.0.nupkg
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/LICENSE.TXT
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/lib/netstandard2.0/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/lib/netstandard1.3/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/lib/net461/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/lib/net46/Microsoft.Win32.Registry.dll
SQLTask/SQLTask/packages/Microsoft.Win32.Registry.4.5.0/.signature.p7s
SQLTask/SQLTask/packages/Devart.Data.SQLite.5.19.2066/sqlite.png
SQLTask/SQLTask/packages/Devart.Data.SQLite.5.19.2066/lib/netstandard2.0/Devart.Data.SQLite.dll
SQLTask/SQLTask/packages/Devart.Data.SQLite.5.19.2066/lib/netstandard1.3/Devart.Data.SQLite.dll
SQLTask/SQLTask/packages/Devart.Data.SQLite.5.19.2066/Devart.Data.SQLite.5.19.2066.nupkg
SQLTask/SQLTask/packages/Devart.Data.SQLite.5.19.2066/content/web.config.transform
SQLTask/SQLTask/packages/Devart.Data.SQLite.5.19.2066/content/app.config.transform
SQLTask/SQLTask/packages/Devart.Data.SQLite.5.19.2066/.signature.p7s
SQLTask/SQLTask/packages/Devart.Data.5.0.2858/lib/netstandard2.0/Devart.Data.dll
SQLTask/SQLTask/packages/Devart.Data.5.0.2858/lib/netstandard1.3/Devart.Data.dll
SQLTask/SQLTask/packages/Devart.Data.5.0.2858/Devart.Data.5.0.2858.nupkg
SQLTask/SQLTask/packages/Devart.Data.5.0.2858/dc.png
SQLTask/SQLTask/packages/Devart.Data.5.0.2858/.signature.p7s
SQLTask/SQLTask/packages.config
SQLTask/SQLTask/obj/Debug/SQLTask.csproj.AssemblyReference.cache
SQLTask/SQLTask/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SQLTask/SQLTask/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SQLTask/SQLTask/obj/Debug/build.force
SQLTask/SQLTask/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SQLTask/SQLTask/Form1.resx
SQLTask/SQLTask/Form1.Designer.cs
SQLTask/SQLTask/App.config
SQLTask/SQLTask/.vs/SQLTask/v16/.suo
